[2017-11-16 16:45] jimblue opened #1 "At last a good Twig plugin for Vscode: This is awesome!!!"
THANK YOU!!

[2017-11-16 20:34] mblode commented on #1
HAHAHA! Glad you like it! Are you coming from Grav development?

[2017-11-16 20:35] #1 closed

[2017-11-16 21:20] jimblue commented on #1
@mblode yep indeed. I saw you too from you theme... (this plugin development make sens now haha)

[2017-11-17 08:53] jimblue opened #2 "add option to enable/disable function"
Is it possible to add options to enable/disable snippets, syntax highlighting, hover, and formatting?

[2017-11-17 08:58] jimblue opened #3 "Formatting issue"
The twig formatting make some strange things.
It add a lot of line break where it shouldn't and mess up the reading and sometime the output.
For exemple this:

[code]
format into this:
[code]

Is it possible to correct it or to have an option to choose how should Twig format (only tab or tab + line break)

Thank you so much

[2017-11-17 09:56] mblode commented on #2
Yeah that was a feature I was definitely considering. So are you thinking they are all on by default and it gives you the option to toggle them off? E.g. Twig Language Formatting: false, Twig Language hover: false, Twig Language snippets: false, Twig Language syntax: false in the user settings?

[2017-11-17 09:57] mblode commented on #3
Yeah there are a bunch of options that Pretty Diff excepts and I need to create the ability to edit the formatting in User Settings. Right now it is 100% opinionated and I need to change that to allow some more flexibility

[2017-11-17 10:09] jimblue commented on #2
Yep that would be the more convenient!

[2017-11-17 10:09] jimblue commented on #3
Yep seems important to let your plugin adapt each dev workflow :)

[2017-11-18 17:00] jimblue commented on #3
I don't know if I should open a knew issue because it's a adjacent problem of formatting:

This:

[code]

format into this:

[code]

Doesn't help readibility

[2017-11-18 17:02] jimblue commented on #3
Even this:

[code]

format into this:

[code]

And this time this break the official language formatting...

[2017-11-18 22:37] mblode commented on #3
Interesting, I think this might be an issue regarding the chained methods option in PrettyDiff. I'm going to release a version today that had it set to none by default and I'm working on giving you the options to change the settings.

I will try test it on http://prettydiff.com and make all the settings match the current extension options:
[code]

Then experiment making adjustments to the options

[2017-11-22 21:56] bgarrant opened #4 "HTML Autocomplete Not Working"
Can you add the setting so the HTML Autocomplete/Intellesense works when using .twig or .html? I thought there was a user setting for it, but it appears it is in the extension. Just start typing `<div` and you should get the Intellesense pop up. It is not working when twig syntax is used. If you look at the Twig Pack extension it does work in that one somehow. Not sure that is best example but you

[2017-11-22 21:58] bgarrant commented on #4
All HTML functions including Autocomplete/Intellesense should work within Twig as well. That is how PHPStorm and Atom works.

[2017-11-22 22:14] bgarrant commented on #4
Somehow this old extension kind of had it working https://marketplace.visualstudio.com/items?itemName=bajdzis.vscode-twig-pack

[2017-11-24 09:55] bgarrant commented on #4
https://github.com/Microsoft/vscode/issues/670

[2017-11-24 10:22] mblode commented on #4
I will release a working version later tonight! Get excited!!

[2017-11-24 10:24] mblode commented on #4
Just to clarify, do you also want formatting of twig to work in .html files?

[2017-11-24 13:40] bgarrant commented on #4
We need the HTML Autocomplete to work along with Twig. I think the way that older extension did it is made use of the .html extension so that Twig and HTML Autocomplete would both work.

[2017-11-24 13:42] bgarrant commented on #4
So if you type `<div` you should see the Autocomplete/Intellesense wrench icon in the suggestions. All I get is the word based ABC one

[2017-11-24 13:45] bgarrant commented on #4
Great work on all this by the way Matt

[2017-11-24 13:48] bgarrant commented on #4
I think VSC has to believe that .html and .twig both are HTML syntax. Then it can be tricked so Autocomplete works. Somehow they did it with https://marketplace.visualstudio.com/items?itemName=bajdzis.vscode-twig-pack. If you open a .html or .twig file it says syntax HTML in corner

[2017-11-24 13:49] bgarrant commented on #4
Maybe that is how they had it working

[2017-11-24 14:23] bgarrant commented on #4
The formatting, coloring, everything should work same in .html and .twig ideally. Hopefully that helps.

[2017-11-24 22:27] #4 closed

[2017-11-25 04:07] mblode commented on #2
I have just pushed an update to allow you to enable or disable formatting along with the hover feature. You can also configure some options that effect twig formatting.

[2017-11-25 04:07] #2 closed

[2017-11-25 04:09] mblode commented on #3
I have fixed these issues with formatting, however, the only thing I need to fix is that it automatically adds a space between a filter: `{% set page_image = page.media.images | first.cropZoom(750, 750) %}`

[2017-11-25 04:09] #3 closed

[2017-11-25 14:43] jimblue commented on #3
Hey thanks for this update that resolve almost every problem I had.
As you said only the added space between filter bug remain unsolved.

[2017-11-25 16:33] jimblue opened #5 "twig are consider HTML5"
One strange thing with the new update Twig file know are read as HTML5 files.

<img width="301" alt="screen shot 2017-11-25 at 17 33 56" src="https://user-images.githubusercontent.com/10623367/33232447-d8230b3c-d206-11e7-910a-15d1c6160fd4.png">

Is it possible to revert that?

[2017-11-25 20:32] mblode commented on #3
Awesome! I think I will get in contact with the guy from pretty diff and just query him about the remaining issues that I have with Twig formatting.

[2017-11-25 20:34] mblode commented on #5
I have changed this on order to provide the Twig files with HTML5 intellisence, autocomplete, Emmet and hover that is all built into VSCode. Personally I think this provides a better experience but maybe I can make option to configure this.

[2017-11-25 20:41] jimblue commented on #5
Sure XP is better! Just this HTML5 icon is disturbing, maybe picky ^^

[2017-11-25 20:58] mblode commented on #5
Haha I feel you! I'm just as picky... Hence this extension. I'll see what I can do

[2017-11-25 21:01] jimblue commented on #5
Thanks to try, don't want to loose my last eye! 😝

[2017-11-25 22:31] jimblue commented on #3
Yes that's probably a good idea.
You should also talking about the following, I had the same kind of issue with html code this time:

<img width="282" alt="screen shot 2017-11-25 at 23 28 49" src="https://user-images.githubusercontent.com/10623367/33235439-c6d82272-d238-11e7-9dfb-768326b701f0.png">
<img width="273" alt="screen shot 2017-11-25 at 23 28 57" src="https://user-images.githubusercontent

[2017-12-03 08:20] jimblue opened #6 "Formatting issues..."
this:
<img width="711" alt="screen shot 2017-12-03 at 09 19 41" src="https://user-images.githubusercontent.com/10623367/33523581-230c73a4-d80b-11e7-82e9-d8d385b6b740.png">

format into this:
<img width="479" alt="screen shot 2017-12-03 at 09 19 50" src="https://user-images.githubusercontent.com/10623367/33523582-260b3c70-d80b-11e7-9a06-a71d011f78e0.png">

Pretty hard to read!

[2017-12-03 11:32] jimblue commented on #6
an other one, this:

<img width="536" alt="screen shot 2017-12-03 at 12 30 57" src="https://user-images.githubusercontent.com/10623367/33524936-e59afade-d825-11e7-83a7-8409ced908db.png">

format into this:

<img width="532" alt="screen shot 2017-12-03 at 12 31 03" src="https://user-images.githubusercontent.com/10623367/33524939-ee1e5048-d825-11e7-9919-46af78ef82b5.png">

This is breaking...

[2017-12-04 20:04] soniktrooth opened #7 "No twig language installed"
I uninstalled https://github.com/whatwedo/vscode-twig and installed your plugin but now I don't have a Twig language to associate with files. I've tried uninstalling and reinstalling but nothing seems to work. Reinstalling https://github.com/whatwedo/vscode-twig brings it back but then I don't have the snippets that I want from your plugin. Am I missing something?

[2017-12-05 02:24] mblode commented on #7
Hey @soniktrooth,
Last week based on feedback from some users, I changed the extension so that there is no longer a "TWIG" language but rather .html files are recognised as TWIG. The benefit of this, as opposed to other extensions, is that .html files automatically include intellisense and emmet shortcuts. So you don't need to do anything except open up a .twig.html/.html/.twig file and it should

[2017-12-05 02:24] #7 closed

[2017-12-09 19:52] dhensen commented on #6
Awesome plugin! 👍  Unfortunately it also messes things up for me.

[code]

Becomes:
(I added hash symbols under characters that I think are messed up)

[code]

[2017-12-14 16:49] ijy opened #8 "Tab triggers for expressions"
Is it possible to add in tab triggers for expressions as with the [Twig plugin for Sublime Text](https://packagecontrol.io/packages/Craft-Twig)?

[code]

[2017-12-15 07:02] mblode commented on #8
I looked into adding this feature but for some reason I don't think VSCode excepts those characters for snippet expansion. But I will look into it again and maybe I'll try copy it from another VSCode extension. Do you know of any that have a similar feature?

[2017-12-22 20:31] ntomka opened #9 "Tab size"
Great extension!

Can you add tabSize option in settings? It formats every line with 2 spaces identation, but I prefer 4 spaces. I can't find option anywhere to change this.

[2017-12-24 23:05] mblode commented on #9
Ok

[2017-12-24 23:05] #9 closed

[2017-12-26 12:47] ntomka commented on #9
Wow, that was a fast Christmas gift! Nice! :beers:
Thank you!

[2018-01-03 07:29] michaelroper opened #10 "PrettyDiff config ignores editor tab settings"
Hey Matt! Is there any way you could add in the option to use tabs for the indentation settings that are passed to PrettyDiff? At the moment, it's defaulting to spaces with no option to change.

It looks like when you pass in the options for the [PrettyDiff config](https://github.com/mblode/vscode-twig-language/blob/master/src/extension.js#L25), you can pass in a key for `inchar`, which would have

[2018-01-14 17:03] vieko commented on #5
Another picky prick here :) Adding the following to your folder / workspace settings does the trick without messing any of the advantages provided by the extension:

`"vsicons.associations.files": [
      { "icon": "twig", "extensions": ["twig", "html"], "format": "svg" }
    ],`

[2018-01-20 08:03] mblode commented on #5
G'day mates,
I have created a new extension to fix the issues that I (and all of you) were having with file associations, issues with commenting and also the most important issue with the icon in the sidebar.

https://marketplace.visualstudio.com/items?itemName=mblode.twig-language-2
https://github.com/mblode/vscode-twig-language-2

Simply add these lines to your VSCode settings to get emmet and H

[2018-01-20 08:03] #5 closed

[2018-01-20 08:29] jimblue commented on #6
Hi there! I was wondering if you have any news about this?

[2018-01-20 08:29] jimblue commented on #5
Thanks for the fix 👍

[2018-02-13 08:17] jimblue commented on #6
Any update about a fix?

[2018-02-13 22:25] mblode commented on #6
I tried to contact the PrettyDiff developer but they have not gotten back to me. The developer of Atom-Beautify also hopped onto the issue and was explaining the problems he is having too.

Here is the issue on PrettyDiff https://github.com/prettydiff/prettydiff/issues/502 and maybe we can all jump on and raise all of the issue we are having so maybe the developer will be responsive

[2018-02-17 22:58] keithmancuso opened #11 "Sorry, but there is no formatter for 'twig'-files installed?"
I think i have everything setup right but its not formatting on save or when I manually call "Format Document"?  It just says "Sorry, but there is no formatter for 'twig'-files installed."

Im sure im missing something dumb

[2018-02-18 09:52] richjava commented on #11
I'm getting the same thing.

[2018-02-19 10:36] onceatime opened #12 "Whitespace removed when formatting"
[code]

becomes (whitespace removed between for and Array)

[code]

this way twig compiler emits an error.

[2018-03-03 11:52] jamesMcMeex opened #13 "Built in formatter appears to be interfering with .html files, as well as .twig"
Hey, thanks for writing a great extension which I've used a lot over the past 3 months, it's been a great help - much appreciated!

I've noticed an issue with the formatter, likely related to issues already raised - [10](https://github.com/mblode/vscode-twig-language/issues/10) and [6](https://github.com/mblode/vscode-twig-language/issues/6), where when this extension is enabled, the VS Code inden

[2018-04-01 22:47] mblode commented on #11
Are you still having this issue? If so, can you explain your setup so I can recreate the bug? Thank you 😄

[2018-04-02 10:44] jimblue commented on #6
Hi @mblode !
Seems that [Prettydiff branch 3.0.0](https://github.com/prettydiff/prettydiff/tree/3.0.0) solved a lot of issues tagged as pretty diff here. Did you try to use this version?

[2018-04-02 12:50] mblode commented on #6
Oh sweet! I'll check it out tomorrow 👍 Thanks for being on top of this

[2018-04-03 11:14] mblode commented on #6
@jimblue I went through the codebase and I don't think PrettyDiff 3.0.0 is ready for production yet. Do you have any idea of the timeline?

[2018-04-03 12:16] jimblue commented on #6
Sorry I have no idea :/

[2018-04-12 19:53] jimblue commented on #6
Hey @mblode, here is the answer to your question ✨✨✨

https://github.com/prettydiff/prettydiff/issues/511

[2018-04-22 23:56] davorpeic commented on #11
Yeah, I think the issue is related with installing your "Twig language", which does give error message others are reported. I fix the problem installing "Twig language 2" which you made I suppose to correct this issue https://marketplace.visualstudio.com/items?itemName=mblode.twig-language-2

Maybe you could add some disclaimer message at the beginning of first version?
dp

[2018-04-30 01:32] jimblue commented on #6
@mblode seem that `prettydiff 3.0` development is pretty active! It should be release soon enough but it's already pretty solid :) !!
Didn't you had a chance to try `vscode-twig-language` with `prettydiff 3.0`?

[2018-04-30 12:46] mblode commented on #6
After some testing with pretty diff 3.0 I believe that some spacing issues are fixed but there are still major problems that break code and which is not okay. I'll try get in contact with Pretty Diff to see if the developer can fix these issues.

## Fixed:

**Fixed example 1:**

`{% for module in page.collection() if module.advanced.nav.enabled %}`

**Fixed example 2:**

`{% for value in ['foo', '

[2018-04-30 17:13] jimblue commented on #6
Hey @mblode,

That's a very good idea to contact Pretty Diff while there still working on V3.0!
It's the best time to let them know theses bugs 😄 !

Thank you so much for your help, I can't wait next version of `vscode-twig-language`!

[2018-05-02 02:05] GlynL opened #14 "Auto-changes on save - image"
When saving the file the following is automatically changed.
From this:
style='background-image: url({{post.thumbnail.src('medium'}})'

To this:
style='background-image: url({{post.thumbnail.src(' medium')}})'="medium')}})'"

[2018-05-02 06:13] mblode commented on #14
Hi @GlynL, you have run into a really annoying known glitch in the formatting system I'm using called PrettyDiff. Luckily, the developer is tirelessly working on a new version which should hopefully fix this issue. I will let you know if we get a fix for this 👍

[2018-05-04 11:50] italodr opened #15 "Issues formatting block shortcuts"
Hey Matt! Is it possible to add support to [Block shortcuts](https://twig.symfony.com/doc/2.x/tags/extends.html#block-shortcuts)?
Right now is indenting the code below as if it were inside the `{% block %}` tag.

<img width="448" alt="block-shortcut-indentation" src="https://user-images.githubusercontent.com/2691320/39626311-a6ae0048-4fa1-11e8-9ee2-59f07661874c.png">

[2018-07-12 12:26] PhilippeSchraepen opened #16 "Respect editorconfig indentation settings"
Right now, we have to manually update the number of spaces in the VS Code configuration file. It would be better if it would respect the .editorconfig file / plugin.

[2018-07-19 14:11] claudioes opened #17 "Auto indent not working"
Current behaviour

![twig](https://user-images.githubusercontent.com/4120439/42947781-70f19c60-8b44-11e8-86d9-691ce87baff7.gif)

Expected behaviour

![html](https://user-images.githubusercontent.com/4120439/42947791-752ea818-8b44-11e8-84bc-2c61aada6396.gif)

[2018-10-17 02:04] grig0ry opened #19 "Disable Craft CMS snippets"
It would be nice to add an **Disable Craft CMS snippets** option.

[2018-11-19 15:27] Atlanta opened #20 "Add "trans" block snippet"
I'm using twig for Symfony, not in Drupal, and in Symfony, the `{{ <string>|t }}` filter doesn't exist. Then, there is no way to quickly add a translated string.

[2018-12-30 23:09] mblode commented on #16
Hey @PhilippeSchraepen, I have finally fixed this issue with the newest update to Twig Language. Simply set your "twig-language: tabSize" to `0` and it will default to your "editor: tabSIze".

[2018-12-30 23:09] #16 closed

[2018-12-30 23:14] mblode commented on #6
Hey guys, I have just pushed an update to Twig Language with a brand new formatter using Prettydiff 3 which brings about some major bug fixes. The update has fixed broken example 1 and 3 and I am currently discussing with the lead developer of Pretttydiff about broken example 2 and 4.

Here is his response:

Sorry about the slow development speeds and sub-par communication but hopefully these upda

[2018-12-30 23:14] mblode commented on #12
Hey @onceatime , I have just pushed an update to Twig Language 2 with a brand new formatter using Prettydiff 3 which brings about some major bug fixes. This bug has now been fixed in the newest version of the extension. Sorry about the slow development speeds and sub-par communication but hopefully these updates have fixed some of your other problems.

[2018-12-30 23:14] #12 closed

[2018-12-30 23:16] mblode commented on #13
Hey @jamesMcMeex, I have just pushed an update to Twig Language 2 with a brand new formatter using Prettydiff 3 which brings about some major bug fixes. I have finally fixed this issue with the newest update to Twig Language. Simply set your "twig-language: tabSize" to 0 and it will default to your "editor: tabSIze".  Sorry about the slow development speeds and sub-par communication but hopefully

[2018-12-30 23:16] #13 closed

[2018-12-30 23:17] mblode commented on #14
Hey @GlynL, I have just pushed an update to Twig Language 2 with a brand new formatter using Prettydiff 3 which brings about some major bug fixes. This bug has now been fixed in the newest version of the extension. Sorry about the slow development speeds and sub-par communication but hopefully these updates have fixed some of your other problems.

[2018-12-30 23:17] #14 closed

[2018-12-30 23:18] mblode commented on #10
Hey @michaelroper, I have just pushed an update to Twig Language 2 with a brand new formatter using Prettydiff 3 which brings about some major bug fixes. I have finally fixed this issue with the newest update to Twig Language. Simply set your "twig-language: tabSize" to 0 and it will default to your "editor: tabSIze".  Sorry about the slow development speeds and sub-par communication but hopefully

[2019-01-02 05:46] michaelroper commented on #10
Thanks for the follow-up Matt. Funnily enough, I ended up disabling the formatting part of the extension, and using the [UniBeautify](https://unibeautify.com) extension, which I think was using PrettyDiff 3 for Twig as well. I'll give it another shot anyway, cheers!

[2019-01-06 14:15] masiorama commented on #6
Nice to hear that! The update is not available yet, right? Thanks in advance.

[2019-01-07 02:04] mblode commented on #6
@masiorama Prettydiff 3 is now being used on twig Language 1 and 2, which are both updated and available on the VS Code extension store. Please let me know if you are having any issues.

[2019-01-07 08:46] masiorama commented on #6
This https://pasteboard.co/HVjGrIu.jpg is what I see from VSCode, thanks.

[2019-01-07 09:51] mblode commented on #6
It's definitely bad practice, but I've fully neglected the change-log. I'll make sure everything is up to date on the changelog as soon as I can.

[2019-01-18 23:52] jayhlee opened #21 "Possible to change comment syntax based on .html vs .twig file extension"
Is it possible to set the comment syntax based on the file extension?

So for files that have .html/.htm as the extension, commenting out blocks will be as ``

And for .twig files, commenting out would look like `{# commented out #}`

Right now, all files use the .twig syntax for comments.

[2019-03-30 09:53] iamlasse opened #23 "Deletes entire files on save"
I've tried using this formatter with my .twig code, but it's way too volatile. Some files get completely deleted all the text inside gone. Some files it deletes a large amount and somehow leaves some internally placed javascript code behind and no trace of any other code.

before save ```
{% extends "layouts/full-width.twig" %}
{% block head_scripts %}
<meta content="index, follow" name="st:robots

[2019-03-30 23:43] mblode commented on #23
@iamlasse Thank you for posting this issue and I've currently raised this issue with the developer of Pretty diff, the formatter that I'm using for my extension. You can revert to version 0.2.9 which uses the older version of the formatter that does not have this issue (But has other formatting issues). I will keep you updated for when we've fixed this destructive problem. Thank you 😄

[2019-03-31 23:38] mblode commented on #23
Hey @iamlasse, I've fixed the issue! 🍾😄 I've re-written how the extension parses the document to ignore script tags. This has officially fixed the problem and the formatter no longer deletes the entire document (thank god). You'll just need to update to version 0.7.1 of Twig Language 👍

Please let me know if you are still having any issues.

[2019-03-31 23:38] #23 closed

[2019-04-03 14:38] hacknug opened #24 "Add support for the elvis operator"

[2019-04-11 10:29] aron19951209 opened #25 "formatting script inside custom block went wrong"
#### Before Formatting
<img width="584" alt="螢幕快照 2019-04-11 下午6 26 12" src="https://user-images.githubusercontent.com/33840671/55950350-4cc79780-5c87-11e9-93e2-33aff64c77b5.png">

#### After Formatting
<img width="570" alt="螢幕快照 2019-04-11 下午6 27 24" src="https://user-images.githubusercontent.com/33840671/55950404-7680be80-5c87-11e9-9e2e-4dc284307991.png">

[2019-04-11 22:23] mblode commented on #25
Sorry about this major bug! I've pushed a fix for this issue but please let me know if you're still running into any issues 👍

[2019-04-11 22:23] #25 closed

[2019-04-12 17:14] aron19951209 commented on #25
@mblode You fix it so fast. I found other issues and I would new issue later. Thank you for your contribution. The extension is so useful for me. :0

[2019-04-12 17:28] aron19951209 opened #26 "highlight should not affect native and custom element"
### Before installing
<img width="923" alt="螢幕快照 2019-04-13 上午1 19 11" src="https://user-images.githubusercontent.com/33840671/56054862-87febf00-5d8a-11e9-8b80-5ddd14be591d.png">

### After installing
<img width="919" alt="螢幕快照 2019-04-13 上午1 20 15" src="https://user-images.githubusercontent.com/33840671/56054887-9cdb5280-5d8a-11e9-82bb-67bad1a53066.png">

You could see your extension result the f

[2019-04-12 17:44] aron19951209 opened #27 "Formatting wrap text will result in infinite indentation and auto-add double quotes for value"
### Before formatting
<img width="658" alt="螢幕快照 2019-04-13 上午1 37 05" src="https://user-images.githubusercontent.com/33840671/56055662-a796e700-5d8c-11e9-813d-9fdc08327205.png">

### After formatting
<img width="657" alt="螢幕快照 2019-04-13 上午1 37 21" src="https://user-images.githubusercontent.com/33840671/56055674-b087b880-5d8c-11e9-9555-5fd5b8a096f6.png">

Two problems:
1. The wrap text would inde

[2019-04-12 17:56] aron19951209 opened #28 "Formatting json incorrectly"
### incorrect indentation ☹️
<img width="569" alt="螢幕快照 2019-04-13 上午1 52 42" src="https://user-images.githubusercontent.com/33840671/56056521-ff365200-5d8e-11e9-9252-a578f64f47d2.png">

### expected indentation 😊
<img width="569" alt="螢幕快照 2019-04-13 上午1 55 17" src="https://user-images.githubusercontent.com/33840671/56056588-3278e100-5d8f-11e9-8b07-7e9237063ba7.png">

[2019-04-23 20:02] sveggiani opened #29 "I cannot get the formatter to respect the 2 spaces indent setting"
No matter what, when the document is formatted a 4 spaces indentation is applied.

[2019-04-24 22:38] mblode commented on #29
Thanks @sveggiani for bringing this to my attention! I've just pushed a fix and indentation should work properly now 👍

[2019-04-24 22:38] #29 closed

[2019-05-17 22:27] ericmorand commented on #19
Yes, it would be great if this extension was not opinionated.

[2019-05-17 22:28] ericmorand commented on #20
Actually, it even makes no sense to have the trans block supported as it is not part of Twig specifications.

[2019-05-17 22:45] mblode commented on #19
Hey @ericmorand, I 100% understand that it is called "Twig language" and therefore should be less specific to Craft or Symfony for example. Would you envision that I should remove the convenience features of having Craft specific snippets from the extensions or should there be a "craftSnippets" configuration in the settings to disable these features?

Looking through the VS Code documentation and

[2019-05-18 07:48] wolfmoritz commented on #15
+1 Same issue here

[2019-05-18 07:52] wolfmoritz opened #30 "Block Short Tag Duplicating"
In one of my templates I have an empty block short tag as a placeholder, to be extended in other templates:

[code]
After formatting, this tag is duplicated causing compile errors:
[code]

[2019-05-19 01:26] mblode commented on #15
I noticed this issue too and I'll raise it with the developer of the Pretty Diff formatter 👍

[2019-05-19 01:27] mblode commented on #30
Oh that's really interesting, I've never seen this issue! What code would I need to duplicate the issue?

[2019-05-19 08:23] wolfmoritz commented on #30
Here is repro case that I tested using VS Code version `1.34.0` on a Mac, and Twig Language extension `0.8.3`:

[code]

When formatted, the `{% block head '' %}` on line 24 is duplicated on the next line. In testing the issue it seems to be related to the `<script></script>` block above, which also includes some Twig tags.

[2019-05-24 05:12] onetrev commented on #21
Actually I'm finding in general there are bigger issues / bugs with the commenting (maybe it needs a new issue for this?). Unlike @jayhlee when I'm working in `.twig` files the commenting doesn't work because it generates HTML style comments of ``.

Also, the extension causes an intermittent bug where my `.php` files suddenly start using `{# commented out #}`. If I disable this extension then re-e

[2019-05-24 10:08] mblode commented on #21
Hey @onetrev and @jayhlee, this bug has plagued the extension since the start and I'm still baffled by the issue. I believe that the VS Code HTML defaults are sometimes overriding the Twig Language extension which causes strange behaviour with the comments and I don't know how to fix it. Comments are defined in the package.json, there is sadly no easy way to make this dynamic.

Please check out ht

[2019-05-24 10:15] mblode commented on #30
This has been fixed in the latest update 👍

[2019-05-24 10:15] #30 closed

[2019-05-24 10:15] mblode commented on #30
This has been fixed in the latest update 👍

[2019-05-24 10:15] mblode commented on #28
This has been fixed in the latest update 👍

[2019-05-24 10:15] #28 closed

[2019-05-24 10:16] mblode commented on #27
You could set the wrap to 40 characters and have no issues. Otherwise, the formatter doesn't respond well to enter keys/line breaks in paragraphs of text

[2019-05-24 10:16] #27 closed

[2019-05-24 10:17] mblode commented on #15
This has been fixed in the latest update 👍

[2019-05-24 10:17] #15 closed

[2019-05-24 11:55] onetrev commented on #21
Gotcha, thanks a ton for the follow up! I never could figure out which version I should use -- it's hard to choose as they both have benefits and drawbacks. I do like how for v1 file association and emmet works out of the box. Bummer those couldn't be fixed and especially Intellisense included in v2. I guess for you it would be nicer too, having only one version to maintain. :)

[2019-05-28 06:16] wolfmoritz opened #31 "Twig Block Shorthand Synatx Indentation"
The latest release `0.8.7` did not fix the indentation issue with using Twig block shorthand syntax issue #15. I still see unexpected block and HTML indentation. Also, closing HTML tags are often indented past the opening tag, and do not match in column.

For example, this HTML:

[code]

Is formatted like this:
[code]

Note the `body`, `section`, and `div` closing tag positions.

[2019-05-28 22:46] mblode commented on #31
Thank you for letting me know! There is an issue where block tags don't always need a closing "endblock" so I believe it is a problem/edge case for the formatter to parse. I raised it with the developer and he thought he fixed it but then reverted it when I realised twig has an "endblock" tag. I'll keep you updated and hopefully, we can find a solution soon!

[2019-06-06 13:18] thedavidthomas commented on #31
I'm having a similar issue with the `{{ head() }} ` tag, used by CraftCMS

` <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block head %}{% endblock %}
    {{ head() }}
  </head>
  <body class="{{ bodyClasses is defined ? bodyClasses|join(" ") : "page" }}">
`

is adding an extra </head> tag and going all funny

`<head>
    <meta ch

[2019-07-09 15:57] JDDoesDev opened #34 "Statement Tags do not close"
When typing, I expect that `{%` should automatically create the closing `%}` tag like `{{` creates `}}`.  This is not the case.  Instead, I end up with `{%}` and no closing `%`.

I see in https://github.com/mblode/vscode-twig-language/blob/master/src/syntaxes/twig.tmLanguage#L757 that it should happen, but it doesn't.

I've tried to check other extensions for similar behavior that may be causing i

[2019-08-05 19:37] zerp300 opened #37 "Html autoComplete Not Working"
hello , i have a strange bug with the extension , everytime i open visual studio code (1.36.1) i need to disable and enable the extension to make html autocompletion to work.
Can i have a fix for it. thanks

[2019-08-07 09:13] #37 closed

[2019-08-18 10:19] ertankayalar opened #38 "Override html comments"
The Extension override comment {# #} instead of  in HTML file. (Ctrl+K Ctrl+C)

[2019-08-21 19:12] mazarini opened #39 "Problem using "-" like in {%- block 'X' -%}"
I use {%- and -%} to suppress spaces. '-' can be add right, left or both.

Formating don't take care of it like for standart delimiter.

Example :
[code]

[2019-09-19 01:37] aNickzz opened #41 "Formatting indented block comments pushes them out to infinity"
![twig indent bug](https://user-images.githubusercontent.com/15243523/65206249-5de5c180-dacd-11e9-91bb-6b74ab042861.gif)

[code]

[2019-09-19 01:49] aNickzz commented on #41
Same issue as https://github.com/mblode/vscode-twig-language-2/issues/50

[2019-11-08 23:48] mblode commented on #10
This has finally been resolved with the most recent update to the extensions (0.9.0). You can now choose the indentStyle in the config.

Thank you so much for your patience!

[2019-11-08 23:48] #10 closed

[2019-11-16 12:10] alexd73 commented on #41
I have some issue.

[2019-12-31 11:13] wolfmoritz commented on #31
I just tested my example using version 0.9.0, and the formatting issue appears to be resolved.
Thanks!

[2020-01-05 01:58] stanislavdavid opened #44 "Problems with javascript in twig"
Thank for great plugin.
I have problem with twig file , which contains javascript with twig variables.

`<td class="text-right" onclick="selectClick({{ category.category_id }},'sort_order',this, event, '{{ category.sort_order }}');">{{ category.sort_order }}</td>
`
![image](https://user-images.githubusercontent.com/2011025/71773933-388a9f80-2f66-11ea-97f2-292c0c12e818.png)

[2020-01-18 14:18] ninze opened #45 "Add support for embedded MJML"
As per  [this ticket](https://github.com/Microsoft/vscode/issues/47480#issuecomment-380514706), it would be nice to have MJML support inside twig templates.

[2020-02-06 11:20] gavinhewitt commented on #37
Having the same issue.

[2020-02-10 06:28] DenisVS commented on #6
Hi!
In  php cs fixer we have very helpful function "auto-format on save".
Would You like to do the same in Your project?

[2020-02-17 04:15] dzpt commented on #7
@mblode you should have twig language option to use another extension.
For example im using jinja2 with j2 extension.
I have to change all files to twig to get recogination.

[2020-02-17 04:35] dzpt opened #46 "Javascript won't be formatted"
[code]
Example code that won't be formatted

[2020-02-17 04:47] #46 closed

[2020-02-17 08:04] dzpt opened #47 "Spacing in variables"
Convert things like:

[code]

As it is the recommended syntax, and would greatly improve the crazy inconsistencies in peoples' code 😁

[2020-02-18 17:54] dzpt commented on #10
@mblode after choosing indent style to space.
default is space 2, but after format, it always convert to space 4??!

[2020-02-18 17:56] dzpt commented on #29
@mblode i still have this error.

[2020-02-19 07:20] dzpt opened #48 "Block inside tag wrong format"
If i put block place inside html tag
[code]

It would be formatted to this

[code]

[2020-02-19 15:46] dzpt opened #49 "Adds infinite space before variable inside js code"
[code]
Repeat saving and it is going to add space before `{{ test }}` repeatedly

[2020-02-20 21:15] mblode commented on #10
@dzpt You need to set the indent style to "space" and the tab size to 2. Then also restart VSCode. Please let me know if this works for you

[2020-03-03 22:55] FrederickEngelhardt commented on #29
same.

[2020-04-30 11:36] Friksel opened #50 "Please make single/double quotes configurable + Quotes in README don't reflect snippets"
First of all I love this extension. Very nice and handy snippets and I use it a lot.

**Need to change the quotes after using snippets**
That said, everytime I use for instance the include template snippet, the snippet is using double quotes while everywhere I use (and want to use) single quotes in Twig. So need to change the quotes everytime after using the snippet. Which negates the effect of us

[2020-06-08 11:13] kuworking commented on #11
Definitively it is not clear what should be installed, whether the two plugins or only one of them

In my case this has worked after restarting vscode and disabling the "other" twig extension (from whatwedo) (one of these two things solved the problem)

That said, wonderful and very needed extension, big thanks (!!)

[2020-06-17 14:47] sarim commented on #37
same issue. Any fix?

[2020-06-18 07:01] entepe85 opened #51 "Please publish the extension to Open VSX"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code. It's the same code but without Microsoft's telemetry, branding and licensing.

I would like to request, if possible, to add the Twig Language extension to the [open-vsx.org](https://open-vsx.org) market as it is unclear if it's legal to use the official Microsoft extension marketplace on VS Code forks, see [h

[2020-06-19 04:49] mblode commented on #51
Check out my published VS Code extensions on Open VSX: https://open-vsx.org/?search=mblode&category=&sortBy=relevance&sortOrder=desc

[2020-06-19 04:49] #51 closed

[2020-07-23 19:34] elmofromok commented on #41
This is happening to us as well. It is causing problems in our workflow. Any solution?

[2020-07-28 21:53] mblode commented on #41
Hey guys, thank you for creating issues and using my extension. Definitely check out Prettier twig melody because that seems to be in active development and has a big company behind it. This extension relies on PrettyDiff 3 and so some bugs are out of my ability to fix. I’ll ensure that the version of PrettyDiff is updated, however, I’m not certain it will fix this annoying bug

[2020-07-29 04:36] elmofromok commented on #41
Thank you for the reply Matthew. I will check out that extension. I
appreciate all the work you have done on this project.

On Tue, Jul 28, 2020, 4:54 PM Matthew Blode <notifications@github.com>
wrote:

[2020-07-30 18:01] lbr-linux opened #52 "Javascript Format"
When I apply the format to the twig file containing javascript syntax it does not correctly apply the in that fragment move all lines to the left.

ex.
[code]
the result after applying the format:
[code]

[2020-09-24 18:10] asolopovas opened #53 "Is there a way to change formatting options?"
Is there a way to change PrettyDiff formatting options? For example options such as  force_attribute setting?

[2020-09-24 18:11] #53 closed

[2020-10-03 21:02] asolopovas commented on #52
+1

[2021-01-07 17:57] brycekirk opened #54 "FR: Add color to filters"
Right now, filters are the same color as the object:
![Screen Shot 2021-01-07 at 10 56 12 AM](https://user-images.githubusercontent.com/18602341/103927026-f941e200-50d6-11eb-9815-a043fd36ddce.png)

Ideally they would be a different color.

[2021-01-07 18:03] brycekirk opened #55 "FR: add "elseif" trigger"
`elseif` should generate `{% elseif condition %}`

[2021-01-07 20:32] brycekirk opened #56 "endcss tag does not end css styling"
`{% endcss %}` does not prevent subsequent lines from being styled as css:

![Screen Shot 2021-01-07 at 1 29 55 PM](https://user-images.githubusercontent.com/18602341/103941926-d15d7900-50ec-11eb-9292-5043ee4c8621.png)

[2021-01-15 21:44] neto737 commented on #52
+1

[2021-02-21 21:38] Arnauw commented on #4
It's 2021 and I have the same issue, even after adding every twig extensions I found

[2021-06-08 15:19] JeromeBenedetti opened #57 "The href attribute of the anchor element sticks to the previous word.."
The href attribute of the anchor element sticks to the previous word when anchor is wrapped into a list element;

This:
[code]

Turn into this:
[code]

But this works fine:
[code]

[2021-06-12 07:12] amkdev opened #58 "formatting - linebreaks in html tags (on attributes) will be removed"
I don't know - maybe there is an option to prevent this ...

but it really get's me nuts that on formatting twig html, all manual inserted line breaks on a html tag (a lot of attributes with long values) will be removed and I got an ultra long single line of html.

is it possible to change this behaviour?

[2021-06-22 06:55] #58 closed

[2021-08-12 07:24] iamfrankeu commented on #4
@Arnauw I'm also still looking forward for a fix...

[2021-08-23 18:23] cjwest opened #59 "There is no formatter for 'twig' files installed."
I'm confused. I have installed and enabled this extension. I restarted VSCode, but when I try to format my twig code I get

There is no formatter for 'twig' files installed.

![Screen Shot 2021-08-23 at 11 21 35 AM](https://user-images.githubusercontent.com/284440/130497496-4cd29d81-09a3-40e5-978f-a7a57a2307f6.png)

What am I missing?

[2021-08-23 19:25] cjwest commented on #59
Looks like there might have been a conflict with this extension:
https://marketplace.visualstudio.com/items?itemName=whatwedo.twig

I disabled it, and now Twig formatting is working with alt-shift-F

[2021-08-23 19:25] #59 closed

[2021-09-02 21:14] buba71 commented on #4
Me too...

[2021-09-03 12:20] nhurst-knight commented on #4
Had the same issue and found this on details for Twig Language 2

Add the below into your settings and it works a treat

[code]

[2021-09-03 18:37] buba71 commented on #4
It's work for me. Great!! Thanks @nhurst-knight

[2021-09-19 08:12] Marvelxy commented on #4
Works for me too.

[2022-02-09 21:35] palansher commented on #38
Same problem:
When I edit .html files (not .html.twig), the native html comments are replaced for twig ones.

[2022-03-09 11:55] niketpathak opened #60 "Feature request: Open base template on click"
Suppose we have a base template `base.html.twig` and we create a file `new.html.twig` having the following content

[code]
Doing <kbd>Ctrl</kbd> + <kbd>Click</kbd> on the **`{% extends 'base.html.twig' %}`** line should open the expected `base.html.twig` file.

This feature would be quite helpful! (Just like how it is done in Phpstorm)

Thank you!

[2022-04-07 08:44] AlexNodex opened #61 "Closing brackets inside html tags"
When adding `{{` inside an html tag that's on the same line i/e `<textarea>{{</textarea>` the auto complete of the closing tag does not fire. It fires fine and auto closes the brackets if the html tag is on more than one line i/e
[code]

[2022-10-27 19:51] AmineGroot commented on #4
I have been looking for this solution for too long , Thanks A Lot !